/*This is main stylesheet*::after
/*colour scheme*::after
/*sky #A7ECF0 rgba(0,212,255,1)
/*green #177909 rgba(23,121,9,1)
/*dark blue #020024 rgba(2,0,36,1)
/*white #ffffff rgb(255, 255, 255)
/*black #000000 rgb(0, 0, 0)*/
nav{
  font-family: 'Cinzel', serif;
  background-color: #64B058;
  border: 1px solid #000000;
  color: #ffffff;
  display: block;
  overflow: hidden;
  width: 100%;
  position: fixed;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    color: #ffffff;
}
nav ul li a{
  color:  #000000;
  display: block;
  line-height: 4px;
  text-decoration: none;
  padding: 20px;
}
nav ul li:hover{
  background-color: #0A4600;
}
nav ul li:hover a{
  color: #ffffff;
}
