/*This is main stylesheet*::after
/*colour scheme*::after
/*Background Colour #97D38D
/*Heading Colour #000033
/*Body Text #0A4600
/*Call to Attention #1E6912
/*Navigation Bar #64B058
/*Footer #1E6B94*/

body{
background: #97D38D ;
font-family: 'Playpen Sans', cursive;
  
}
h2,h3 {
  color: #0A4600;
}
.topbar {
  height:	80px;
  background: #97D38D;
    }

.logo {
  width:	200px;
  height:	200px;
  float:	left;
}
.navbar{
  font-family: 'Cinzel', serif;
  overflow: hidden;
  background-color: #64B058;
  border: 1px solid #000000;
  color: white;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #1E6912;
   color: white;
}

.navbar a.active {
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #000000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #64B058;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  border: 1px solid #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #1E6912;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.image-container {
  position: relative;
  text-align: center;
  margin-top: 100px;
  margin-bottom:10px ;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
}
footer{
  background-color: #1E6912;
  color: #ffff;
  text-align: center;
  padding: 100px 15%;
  margin-top: 150px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
}
.footer div{
  text-align: center;
}
.col-2{
  flex-grow: 2;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color: #ffff;
  margin-bottom: 10px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
form button{
  background: transparent;
  border: 2px solid #ffff;
  color: #ffff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

*{
  box-sizing: border-box;
}
.row {
    display: flex;
  text-align: center;
  justify-content: center;
}
.column {
  float: flex;
  width: 25%;
  padding: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 40px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #1E6B94;
}


/*****this is style for tablet******/
@media screen and (max-width: 992px){
.column {
    width: 50%;
  
}
h2,h3 {
  color: #0A4600;
}
footer{
  background-color:#1E6912;
  color: #ffff;
  text-align: center;
  padding: 100px 15%;
  margin-top: 150px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
}

/*****this is style for phone******/
@media screen and (max-width: 600px){
.column {
    width: 100%;
}
h2,h3{
  color: #0A4600;
}
footer{
  background-color: #1E6912;
  color: #ffff;
  text-align: center;
  padding: 100px 15%;
  margin-top: 150px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
}

}

}